.login-box__register {
  width: 80%;
  padding: 15px;
  display: flex;
  background-color: #fff;
  flex-flow: column;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.create-button__register {
  background-color: rgb(48, 192, 55);
  width: 80%;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px rgb(0, 0, 0, 0.1) solid;
  font-size: 20px;
  color: white;
  margin: 50px 0;
}
.create-button__register:hover {
  background-color: rgb(0, 181, 1);
}
.login-forget__register {
  margin: 5px 0;
  color: rgb(53, 147, 255);
}
.login-button__register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 10px;
  border: 1px rgb(0, 0, 0, 0.1) solid;
  background-color: rgb(1, 120, 253);
  margin: 5px 0;
  width: 70%;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
  color: white;
}