* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*:visited,
:hover,
:active,
:focus {
  outline: 0;
  outline: none;
}
body {
  background-color: rgb(240, 242, 245);
}
.router-link {
  height:100%;
  text-decoration: none;
  color: black;
}
.landing-page__image{
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: -10;
}
