.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.login__left {
  flex: 2;
}
.login__right {
  background-color: rgb(116, 138, 138);
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  width: 90%;
  height: 55%;
  padding: 15px;
  display: flex;
  background-color: #fff;
  flex-flow: column;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.login-box__top {
  width: 100%;
  display: flex;
  flex-flow: column;
  height: 70%;
  align-items: center;
  border-bottom: 1px rgb(0, 0, 0, 0.3) solid;
  /* justify-content:space-between; */
}
.login-input {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-size: 18px;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px rgb(0, 0, 0, 0.5) solid;
  outline: none;
}
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 10px;
  border: 1px rgb(0, 0, 0, 0.1) solid;
  background-color: rgb(1, 120, 253);
  margin-top: 20px;
  width: 70%;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
  color: white;
}
.login-button:hover {
  background-color: rgb(0, 108, 231);
}
.login-button:disabled {
  cursor: not-allowed;
}
.login-forget {
  margin: 5px 0;
  color: rgb(53, 147, 255);
  cursor: pointer;
}
.create-button {
  background-color: rgb(48, 192, 55);
  width: 80%;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px rgb(0, 0, 0, 0.1) solid;
  font-size: 20px;
  color: white;
  margin-bottom: 12%;
}
.create-button:hover {
  background-color: rgb(0, 181, 1);
}
