.edit-input {
  border: none;
  font-size: 16px;
  font-style: italic;
  background-color: rgb(240, 242, 245);
  width: 100%;
  height: 30px;
  border-radius: 5px;
  color: rgb(28, 119, 255);
}
.edit-input-status {
  width: 170%;
  height: 30px;
  border: none;
  background-color: transparent;
  font-size:16px;
  border-bottom: 1px dashed black;
  font-style: italic;
}
