.message {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.messageValue {
  background-color: rgb(82, 171, 250);
  width: 50%;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
}
.messageProp {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.messageTimeAgo {
  font-size: 10px;
}
.messageOwn {
  align-items: flex-end;
}
