.message {
  display: flex;
  flex-direction: column;
  
}
.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.messageValue {
  background-color: rgb(82, 171, 250);
  width: 60%;
  padding: 10px;
  border-radius: 15px;
  color: white;
}
.messageProp {
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}
.messageTimeAgo {
  display: block;
}
.messageOwn {
  align-items: flex-end;
}
