.profile {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 20%;
}
.profile-center {
  display: flex;
  justify-content: center;
  min-width: 95%;
}
.profile-top {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.profile-top-images {
  height: 400px;
  position: relative;
}
.profile-cover-image {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.profile-user-image {
  object-fit: cover;
  background-color: rgb(240, 242, 245);
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid rgb(240, 242, 245);
  top: 45%;
  left: 0;
  right: 0;
  margin: 10px auto;
}
.profile-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.profile-picture__change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffff;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  display: flex;
  position: absolute;
  top: 87%;
  left: 0;
  right:0;
  margin:0 56%;
}
.profile-picture__change-icon {
  font-size: 18px !important;
  color: rgb(104, 104, 104);
  cursor: pointer;
}
.profile-picture__change-icon:hover {
  color: rgb(0, 0, 0);
}
