.rightbar-container {
  flex: 1.5;
  margin: 50px 0 10px 0;
  padding: 0 10px;
  display: flex;
  flex-flow: column;
  top: 100px;
}
.rightbar-ads {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px rgb(0, 0, 0, 0.3) solid;
}
.right-ads__span {
  margin-bottom: 5px;
  font-weight: 500;
}
.rightbar-ad__img {
  width: 60%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.right-bar__friends-container {
  border-bottom: 1px rgb(0, 0, 0, 0.3) solid;
}
.right-bar__friendslist {
  list-style: none;
  margin-bottom: 10px;
}
.right-bar__profile-img-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 5px;
}
.right-bar__online-friend {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.right-bar__profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.right-bar__online {
  width: 14px;
  height: 14px;
  background-color: rgb(95, 255, 47);
  position: absolute;
  right: -2px;
  bottom: 2px;
  border-radius: 50%;
  border: 2px solid rgb(240, 242, 245);
}
.profile-rightbar__intro {
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.profile-rightbar-info__item {
  /* width: 95%; */
  padding-bottom: 2px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
.profile-rightbar-friends {
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.profile-rightbar-friends__wrapper {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
}
.profile-friend_item {
  /* padding: 5px; */
  width: 16%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /* margin: 10px ; */
  border-radius: 5px;
}
.profile-friend_item:hover {
  font-weight: 600;
}
.profile-friend-img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  object-fit: cover;
}
.profile-friend_item-username {
  font-size: 12px;
}
.follow-btn {
  width: 120px;
  height: 50px;
  border: 1px rgb(0, 0, 0, 0.1) solid;
  border-radius: 40px;
  cursor: pointer;
  background-color: rgb(55, 148, 255);
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 18px;
  align-self: center;
  margin-bottom: 10px;
}
.follow-btn:hover {
  background-color: rgb(0, 108, 231);
}
