.navbar-container {
  height: 50px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar__left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}
.navbar-logo {
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  color: rgb(82, 171, 250);
}
.navbar__center {
  flex: 2;
}
.navbar-searchbar {
  position: relative;
  width: 90%;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  display: flex;
  align-items: center;
  background-color: rgb(240, 242, 245);
}
.navbar-searchbar__logo {
  margin-left: 10px;
}
.navbar-searchbar__input {
  border: none;
  outline: none;
  width: 80%;
  background-color: transparent;
}
/* --------------------DROP DOWN CSS STYLING ---------------------*/
.navbar__center-dropdown {
  position: absolute;
  width: 100%;
  background-color: white;
  top: 10px;
  z-index: -10;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 40px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 1s ease-in;
}
.navbar__center-results {
  list-style: none;
}
.navbar__center-dropdown-friend {
  padding:5px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}
.navbar__center-dropdown-friend:hover {
  background-color: rgb(247, 247, 247);
}
.navbar__center-img-container {
  margin-right: 5px;
}
.navbar__center-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.result-friend_username {
  font-size: 14px;
}
/* ---------------------------------------- */
.navbar__right {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar-home__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-icons {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.navbar-icons__icon {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  cursor: pointer;
  /* font-size: 30px !important; */
}
.navbar-icons__icon-material {
  cursor: pointer;
  font-size: 30px !important;
  color: rgb(102, 102, 102);
}
.navbar-icons__icon-material:hover {
  color: rgb(26, 26, 26);
}
.navbar-profile-navbar__container {
  display: flex;
}
.navbar-profile {
  min-width: 68px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background-color: rgb(240, 242, 245);
  font-weight: 400;
  padding-right: 4px;
}
.navbar-profile:hover {
  background-color: rgb(231, 243, 255);
  font-weight: 400;
  color: rgb(6, 139, 255);
}
.navbar-link {
  margin: 0px auto;
  cursor: pointer;
  font-size: 12px;
}
.navbar-profile__picture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.navbar-logout {
  margin-left: 5px;
  background-color: rgb(240, 242, 245);
  display: flex;
  /* height: 35px; */
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 35px;
  cursor: pointer;
}
.navbar-logout:hover {
  background-color: rgb(231, 243, 255);
}
